## Auto generated providers.tf ##
## Updated on: {{ timestamp }} ##

provider "aws" {
  region = "{{ provider_region }}"
  assume_role {
    role_arn    = "{{ target_admin_role_arn }}"
  }
  default_tags {
    tags = {
      managed_by                  = "AFT"
    }
  }
}

# Modify account setting - STS Global Endpoint
provider "aws" {
  region = "eu-south-1"
  alias  = "eu-south-1"
  assume_role {
    role_arn    = "{{ target_admin_role_arn }}"
  }
  default_tags {
    tags = {
      managed_by                  = "AFT"
    }
  }

  skip_metadata_api_check     = false
  skip_region_validation      = false
  skip_credentials_validation = false
}
